* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

li {
    list-style-type: none;
}

.a2pic2 {
    float: left;
    padding-left: 1rem;
}

.a2face {
    height: 3rem;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 1px 2px rgba(200, 200, 200, 0.9);
}

.a2facetext {
    height: 3rem;
    position:relative;
  margin-top:3px;
    margin-left:5.2rem;
    line-height: 1.3rem;
    font-size: 0.7rem;
}

.a2click {
    position: absolute;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    line-height: 3rem;
}

.people li {
    clear: left;
    padding: 8px;
    z-index: 1;
    box-shadow: 0 1.2px 1px rgba(200, 200, 200, 0.8);
}

.people li:hover{background-color:rgba(20,160,250,0.2)}
.a2name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.fontclick {
    z-index: 2;
    color: dodgerblue;
    font-size: 1.5rem;
}
.fontclick:hover{
font-size:2rem;}
.a2plus:hover{font-size:2rem;}

.a2plus {
    font-size: 1.5rem;
    color: limegreen;
}

.a2topul li {
    float: left;
    width: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}

.a2picture {
    border-radius: 50%;
    height: 4rem;
    line-height: 4rem;
    background-color: white;
     z-index: 1;
    box-shadow: 3px 3px 2px black;
}

.a2middle {
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.a2topul {
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
    color: white;
}

.a2topu li {
    color: white;
}

.name {
    position: relative;
    bottom: 0
}

.info {
    position: absolute;
    top: 0;
    height: 10rem;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: darkslategrey;
    z-index: 1;
        box-shadow: 1px 1px 2px grey;
}

.a2top {
   position: absolute;
    top: 0;
    height: 3rem;
    line-height: 3rem;
    right: 0;
    left: 0;
    background-color: #E72d37;
    font-size: 1.2rem;
    color: white;
    z-index: 2;
        box-shadow: 1px 1px 2px black;
}

.imgalign {
    text-align: center;
    line-height: 1.9rem;
    font-size: 1rem;
}

.fontleft {
    font-size: 1.5rem;
}

.fontright {
    font-size: 1.5rem;
}

.bottom {
    position: absolute;
    top: 10rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.a2menufont {
    position: absolute;
    left: 2rem;
    color: white;
}

.a2searchfont {
    position: absolute;
    right: 4rem;
}

.mix {
    color: white;
    position: absolute;
    left: 4em;
}

.a2smallfont {
    position: absolute;
    right: 2rem;
}

.portfolio {
    position: absolute;
    left: 5rem;
    top:-5px;
}



.people {
    position:absolute;
    left:0;
    right:0;
}
