.dates {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

.dates li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    text-align: center;
    letter-spacing: -1px;
    width:30px;
    }

body {
    background-color: black;
    font-family: serif;
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 0;
    
    padding-bottom: 0;
    
}

h2 {
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: lighter;
   
}

li:hover{font-size:1.5rem;
font-weignt:bold;}

.sindata {
    font-size: 0.8rem;
    font-weight: 200%;
    position: fixed;
    bottom: 1rem;
    left:2.5rem;
}

.canvas{position:absolute;
top:20rem;
z-index=2;}
.선택{font-size:2.5rem;
padding-top:2rem;}
a{padding-right:0.5rem;}