* {
    outlinde: 1px solid rgba(200, 200, 200, 0.8);
    padding: 0;
    margin: 0;
    color: rgba(150, 150, 150, 0.9);
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.mbtopul {
    float: left;
}

.mbtopul li {
    clear: left;
    padding: 7px;
    line-height: 22px;
}

.middlebottom {
    width: 34.6em;
}

.mbtoppic {
    height: 4rem;
    float: left;
    margin-right: 15px;
    position: relative;
    top: -10px;
}

.mbtop {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(150, 150, 150, 0.2);
}

.mbtopfirst {
    font-size: 0.95rem;
    margin: 15px;
}

.추가 {
    font-size: 0.7rem;
}

.mbb넘기기 li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.선호주제설정 {
    font-weight: bold;
    font-size: 0.7rem;
    margin-right:10px;
}

.mbbottom {
    font-size: 0.75rem;
    padding: 10px;
    padding-bottom: 0;
    line-height: 50px;
}

.fa-chevron-right,
.fa-chevron-left {
    color: forestgreen;
    border:1px solid rgba(200,200,200,0.8);
    padding-right:4px;
    padding-left:4px;
}
.mbb넘기기 {
   
}

.mbbcount {position:relative;
    right:-60px;
    
}
