.dates {margin-left:0;
    padding-left: 0;
    white-space: nowrap;
}

.dates li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    width:0.01rem;
    text-align: center;
    
}

body {
    background-color: black;
    font-family:serif;
    color: white;
    font-size: 0.1rem;
    margin-left:2rem;
}

h1 {
text-transform: uppercase;
    font-size:5rem;
    font-weight:lighter;
    margin-top:1.8rem;
   }
li{font-weight:600%;}



