    * {
        margin: 0;
    padding: 0;
        box-sizing: border-box;}
       

.a1menu li {
    width: 33.3333333333333333333333333333333333333333333333333333333333333333333333%;
    float: left;
    height: 50%;
    line-height: 6rem;
    text-align: center;
    font-size: 0.8rem;
     z-index: 1;
        box-shadow: 0.1px 0.1px 0.1px grey;
}

    .a1menu {
        position: absolute;
        top: 20rem;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1rem;
        color: rgba(50,50,50, 0.6);
        background-color: rgba(200,200,200,0.2);
    }
.a1menu li:hover{font-weight:bold;
color:dimgray;
    background-color: rgba(200,130,255,0.1);
font-size:0.9rem;}

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }
    li {
        list-style-type: none;
    }
    .a2pic2 {
        float: left;
        padding-left: 1rem;
    }
    .a2face {
        height: 3rem;
        border-radius: 50%;
        z-index: 1;
        box-sizing: border-box;
        box-shadow: 1px 2px rgba(200, 200, 200, 0.1);
    }
    .a2facetext {
        height: 3rem;
        position: relative;
        left: 1.5rem;
        top: 3px;
        line-height: 1.3rem;
        font-size: 0.7rem;
    }
    .a2click {
        position: absolute;
        right: 3rem;
        top: 0;
        bottom: 0;
        line-height: 3rem;
    }
    .people li {
        clear: left;
        padding: 8px;
        z-index: 1;
        box-shadow: 0 1.2px rgba(200, 200, 200, 0.8);
    }
    .a2name {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .fontclick {
        z-index: 2;
        color: dodgerblue;
        font-size: 1.5rem;
    }
    .a2plus {
        font-size: 1.5rem;
        color: limegreen;
    }
    .a2topul li {
        float: left;
        width: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    }
    .a2picture {
        width: 90%;
        margin: 0 auto;
    }
    .a2middle {
        position: absolute;
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .a2topul {
        width: 100%;
        margin: 0 auto;
        color: white;
    }
    .a2topul li {}
    .a2topu li {
        color: white;
    }
    .name {
        position: relative;
        bottom: 0
    }
    .info {
        position: absolute;
        top: 3rem;
        height: 17rem;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding-top: 0.7rem;
        padding-bottom: 3.5rem;
                font-size: 1rem;
 background-color: rgb(47, 79, 79);
         z-index: 1;
        box-shadow: 1px 1px 2px grey;
     
      }
    .a2top {
        position: absolute;
        top: 0;
        height: 3rem;
        line-height: 3rem;
        right: 0;
        left: 0;
        background-color: #E72d37;
        font-size: 1.2rem;
        color: white;
        z-index: 2;
        box-shadow: 1px 1px 2px black;
    }
    .imgalign {
        text-align: center;
        line-height: 2rem;
        height: 10rem;
    }
    .fontleft {
        font-size: 1.5rem;
    }
    .fontright {
        font-size: 1.5rem;
    }
    .bottom {
        position: absolute;
        top: 18rem;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }
    .a2menufont {
        position: absolute;
        z-index: 1;
        left: 0.7rem;
    }
    .a2searchfont {
        position: absolute;
        right: 4rem;
    }
    .mix {
        color: white;
        position: absolute;
        left: 4em;
    }
.a2smallfont {
       position: absolute;
    right: 1.5rem;
    }
    .portfolio {font-size: 0.8rem;
        font-weight: bold;
        position: absolute;
        left: 4rem;
    }
    .where {
        font-size: 0.7rem;
    }
    .a3name {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        position: relative;
    }
    .a2topul {
        padding-top: 2rem;
    }
    .a2picture {
        height: 5rem;
        margin-bottom: 10px;
    }
    .a3click {
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        bottom: 2rem;
    }
    .a3click li {
        width: 25%
    }
    .a3back {
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: rgba(255, 255, 255, 0.3);
         z-index: 1;
        box-shadow: 1px 1px 3px black;
        
    }
    .bottom {}
    .portpol2 li {
        padding: 10px;
    }
    .a3image {
        width: 18rem;
    }
    .portpol2 li {
        text-align: center;
    }
    .fog {}
    .a2topul {}
    .portpol2 {}
    .back {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background-color: #E72d37;
    }
    .fontleft2 {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
        position: relative;
        left: 7px;
    }
    .info {}
    .로고 {
        width: 3rem;
        height: auto;
        margin-top:4.3px;
    }
.그라에디이션넣으려고몇시간 {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
   
    
}

.choose {
    position: relative;
    left:5px;
}

.choose2 {
    position: relative;
    left:3px;
}
