*{outsline:1px solid rgba(200, 200, 200, 0.8);
padding: 0;
margin: 0;
color:rgba(150, 150, 150, 0.9);
box-sizing:border-box;
font-family: sans-serif;}


.loginbottom {
    position:absolute;
    right:0; 
        width:24rem;
    background-color:#F8F8F8;
    padding:10px;
    
}

.투데이 {
    font-weight: bold;
    font-size:1.2rem;
    color:black;
    padding:4px;
}

.오늘날자{
    font-size:0.8rem;
    font-weight:lighter;
    position:absolute;
    right:6rem;
}

.블록내용 {
    font-size:0.8rem;
    font-weight:lighter;
    position:absolute;
    right:3rem;
}

.주가지수 li{float:left;
    width:50%;
    padding:4px;
    margin-top:10px;
    color:gray;
    
    
}

.수치 {
    font-weight:bold;
    font-size:1.3rem;
        color:black;
}

.강조하나 {
    color:dodgerblue;
    padding-left:5px;
    font-size:0.7rem;
}

.강조둘 {
     color:orangered;
    padding-left:5px;
    font-size:0.7rem;
}

.강조 {
    color:black;
    font-wight:bold;
   
}

.주가내용 {
    padding:4px;
    font-size:0.97rem;
    }

.생활위젯 {
    border:1px solid rgba(150,150,150,0.6);
    padding:3px;
    font-size:0.8rem;
    margin:0;
}

.페이지넘기기 {
    padding:4px;
    margin-top:4px;
}

.넘겨보자 {position:absolute;
    bottom:0;
        right:3rem;
    
}

.화살표 { border:1px solid rgba(150,150,150,0.6);
    color:chartreuse;
    padding:3px;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:2px;
    margin:0;
    
}
.뒤{position:relative;
left:-5px;}

.빨강세모 {
    color:cornflowerblue;
}

.파랑세모 {
    color:coral;
}

.주가지수 li{font-size:0.8rem;
    
}

.금융세모 {
    color:rgba(120,120,120,0.7);
}

.주가지수 {
 
}

.넘겨보자 {
    position:relative;
   right:-10rem;
    
}
