.dates {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

.dates li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    width: 1.7rem;
    text-align: center;
    letter-spacing: -1px;
}

body {
    background-color: black;
    font-family: serif;
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 0;
    position: fixed;
    top: 2rem;
}

h2 {
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: lighter;
    position: fixed;
    top:11rem;
}

li {
    font-weight: bold;
}

.sindata {
    font-size: 0.8rem;
    font-weight: 200%;
    position: fixed;
    bottom: 1rem;
    left:2.5rem;
}