

*{outldine:1px solid rgba(200,200,200,0.7);
list-style-type:none;
margin:0;
padding:0;
box-sizing:border-box;
}


.musicmenu li{float:left;
    width:25%;
    font-weight:bold;
    text-align: center;
        padding:10px;
    color:gray;
    border:1px solid rgba(150,150,150,0.8);
    
}

.music {
    width:36rem;
    font-size:0.8rem;
    
}

.musicmenu {
         
    height:19rem;
}

.소제목 {
    font-size:0.6rem;
    font-weight:lighter;
    color: rgba(100,100,100,0.8);
  line-height:30px;
}

.yunakim {
    width:7.4rem;
}

.생일 {
    width:36rem;
}
