    * {
        outlinse: 1px solid rgba(50, 50, 50, 0.7);
        box-sizing: border-box;
    }
    
    .naverMail {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .topmenu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3.5rem;
        background-color: #019A30;
    }
    
    .middle {
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        bottom: 2rem;
        border-bottom: 1px solid black;
    }
    
    .leftMenu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 16rem;
    }
    
    .middlebody {
        position: absolute;
        top: 0;
        left: 16rem;
        right: 0;
        bottom: 0;
    }
    
    .bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2rem;
        z-index: 2;
    }
    
    .bigbutton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 5rem;
        border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    }
    
    .bigbutton li {
        background-color: #019A30;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.4rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 4px;
    }
    
    .bigbutton ul {
        margin: 1.5rem;
    }
    
    .bigbutton li {
        float: left;
    }
    
    .mailoutlook {
        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
        height: 3rem;
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .mailoutlook ul {
        padding: 0.3rem;
    }
    
    .mailoutlook li {
        float: left;
        width: 25%;
        text-align: center;
        font-size: 0.85rem;
    }
    
    .mailoutlook li:hover {
        text-decoration: underline;
    }
    
    .mailoutlook span:hover {
        text-decoration: none;
    }
    
    .mailoutlook li {
        float: left;
    }
    
    .useMail {
        position: absolute;
        top: 8rem;
        height: 10.5rem;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .useMail ul {}
    
    .useMail li {
        font-size: 0.8rem;
        padding: 0.4rem;
        line-height: 1rem;
        height: 2rem;
    }
    
    .useMail li:hover {
        background-color: #E5E5E5;
    }
    
    .mailSearch {
        position: absolute;
        top: 0rem;
        left: 1rem;
        right: 0;
        height: 4rem;
        color: black;
        font-weight: bold;
        padding-top: 1.3rem;
        padding-left: 0.5rem;
    }
    
    .maildetailMenu {
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        height: 3rem;
        background-color: #F7F9FA;
        padding-left:1rem;
        border:1px solid rgba(50,50,50,0.2);
        border-right:none;
    }
.maildetailMenu ul{padding:0.3rem;}
    .maildetailMenu li {
        padding: 0.5rem;
        border: 1px solid rgba(50, 50, 50, 0.2);
        background-color: #F0F0F0;
        height: 1.7rem;
        font-size: 0.8rem;
        color: rgba(50, 50, 50, 0.6);
        padding: 0.2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        border-radius: 1px;
        background-color: #F0F0F0;
         float: left;
        margin:0.2rem;
    }
    
    .mails {
        position: absolute;
        top: 7rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    
    .mails li {
        position: relative;
        left: 0;
        right: 0;
    }
    
    .mails li {
        float: left;
        height: 2rem;
    }
    
    .count {
        font-weight: bold;
        color: #019A30;
    }
    
    .star {
        color: #019A30;
    }
    
    .mail {
        color: #F3F3F3;
        font-size: 1.2rem;
        padding: 0.4rem;
    }
    
    .trashfolder {
        color: #F3F3F3;
        font-size: 1.2rem;
        padding: 0.4rem;
    }
    
    .folder {
        color: #C2D8ED;
        font-size: 1.2rem;
        padding: 0.4rem;
    }
    
    .rightClick {
        position: absolute;
        right: 1rem;
        font-size: 0.8rem;
        color: black;
        border-radius: 1.4px;
        border: 1px solid rgba(50, 50, 50, 0.2);
        padding: 0.1rem;
    }
    
    .topMail {
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
        padding-bottom: 0.5rem;
    }
    
    .myMailSpan {
        position: absolute;
        top: 10.5rem;
        left: 0;
        right: 0;
        height: 1.7rem;
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
        font-size: 0.8rem;
        line-height: 1.7rem;
    }
    
    .trashMail {
        position: absolute;
        top: 20.8rem;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .myMail {
        position: absolute;
        top: 12.5rem;
        left: 1rem;
        right: 0;
        height: 4rem;
        padding-bottom: 0.4rem;
    }
    
    .downArrow {
        font-size: 1rem;
        line-height: -1rem;
        padding: 0.4rem;
        padding-left: 0.8rem;
    }
    
    .myMailSet {
        position: absolute;
        right: 0rem;
        width: 2rem;
        text-align: center;
        border-left: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .myMailPlus {
        position: absolute;
        right: 2rem;
        width: 2rem;
        text-align: center;
        border-left: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .number {
        color: #019A30;
        padding: 0.4rem;
        font-weight: bold;
        font-size: 0.4rem;
    }
    
    .rightClicktwo {
        position: absolute;
        right: 1rem;
    }
    
    .search li {
        float: left;
        font-size: 0.8rem;
        color: grey;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-weight: lighter;
        border: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .leftWide {
        position: absolute;
        left: -1rem;
        top: 0;
        height: 4rem;
        line-height: 3.6rem;
        width: 1rem;
        text-align: center;
        border-right:1px solid rgba(50,50,50,0.2);
         border-left:1px solid rgba(50,50,50,0.2);
    }
    
    .searchHere {
        width: 13rem;
    }
    
    .fa-search {
        font-size: 1.1rem;
    }
    
    .detial {
        font-size: 0.8rem;
        font-weight: lighter;
        padding-left: 0.5rem;
    }
    
    .nonReadMail {
        color: #019A30;
    }
    
    .commercial {
        position: absolute;
        right: 1rem;
        font-size: 0.7rem;
        font-weight: lighter;
        color: black;
    }
    
    .repeat {
        color:grey;
        border: 1px solid rgba(50, 50, 50, 0.2);
        padding:0.3rem;
        padding-top:0rem;
        padding-bottom:0.1rem;
        border-radius:1px;
    }
    
    .space {
        padding-left: 1rem;
        color: grey;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .mailTopAlign {
        display: block;
    }
    
    .fa-times {
        color: red;
        font-weight: lighter;
        padding-right:0.1rem;
    }
    
    .clickButton {
        font-size: 2rem;
        background-color: white;
    }
    
    .bold {
        font-weight: bold;
        color: rgba(50, 50, 50, 0.8);
    }
    
    .nonClick {
        font-size: 0.8rem;
        padding: 1rem;
    }
    
    .filter {
        color: black;
        font-size: 0.8rem;
    }
    
    .twodown {
        color: black;
        padding-left: 0.2rem;
    }
    
    .fa-caret-down {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
.clock {
    
}

.fa-clock-o {
    color:#019a30;
    padding:0.3rem;
    border-radius:1px;
    border:1px solid rgba(50,50,50,0.2);
    background-color:white;
    
}

.fa-bars {
    color:#019a30;
    padding:0.3rem;
    border-radius:1px;
    border:1px solid rgba(50,50,50,0.3);
    background-color:white;
}

.clockBar {
    position:absolute;
    right:1rem;
}
