* {
    outsline: 1px solid grey;
    color: black;
    font-size: 0.9rem;
}

.positionModify {
    position: relative;
    left: 5rem;
    color: grey;
}

.position {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid grey;
    padding:0.4rem;
}

.Map {
    position: absolute;
    top: 3rem;
    bottom: 0;
    width: 27rem;
    border:2px solid grey;
}

.choicePosition {
    position: relative;
    top:2rem;
    height: 10rem;
    width:100%;
    
}
.choicePosition li{
    font-size:1.1rem;
    font-weight:bold;
    margin:0.7rem;
}

.middleDown {
    position: absolute;
    top: 16rem;
}
.middleDown li{padding:3px;}

.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    }
.footer li{padding-left:9px;
font-size:0.8rem;}

.footer li {
    float: left;
    border: 1px solid grey;
    box-sizing: border-box;
    width: 20%;
}

.middle {
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    width:100%;
    padding:1rem;
}
.asignClick {
    color:green;
    text-decoration: underline;
    padding-left:0.4rem;
    
}

.asign {
    position: absolute;
    bottom:2.5rem;
    width:100%;
   font-weight:bold;
    color:grey;
    left:0.2rem;
}

.commercial {
    position:absolute;
    top:25rem;
    left:3%;
    right:3%;
    height:5rem;
    border:1px solid grey;
}
.commercial li{
    padding-top:6px;
    line-height:2rem;
    float:left;
    padding-left:1rem;
    font-size:1rem;
    font-weight:bold;
}

.blogpic {
    width:4rem;
    
}

.blueColor {
    color:dodgerblue;
    font-weight:bold;
    font-size:1rem;
    
}

.공지사항 {
    font-size:1.1rem;
    font-weight:bold;
    position:relative;
    right:5px;
    margin-bottom:5px;
}

.logIn {
    padding:4px;
    border:1px solid grey;
}
i{padding:6px;}
.set {
    color:grey;
    font-size:0.7rem;
    padding:3px;
    margin-left: 0.3rem;
    border:1px solid grey;
}

.bookMark {
    color:grey;
    font-size:0.7rem;
}
