* {
    outlisne: 1px solid red;
    padding: 0;
    margin: 0;
}

.topmenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #019a30;
    height: 2.6rem;
}

.toplogo li {
    color: white;
    float: left;
    line-height: 2.6rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4em;
}

.name {
    font-size: 1.3rem;
    font-weight: light;
}

.toplogo {
    position: absolute;
    left: 0;
    right: 80%;
}

.topmiddlemenu {
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    float: left;
    padding: 0;
    margin: 0;
}

.topmiddlemenu li {
    font-size: 1.8rem;
    float: left;
    padding: 0.6rem;
    padding-top: 0;
    padding-bottom: 0;
}


i{color: #007B26;}
i:hover{
    color: white;
}
.bar {
    color:white;
}

.toplogin {
    position:absolute;
    top:0;
    right:0;
    left:90%;
}

.toplogin li{float:left;}

.login {
    color:white;
    font-size:0.8rem;
    background-color:#268F46;
        padding:0.4rem;
    line-height:2.6rem;
}

.barli {
    padding:0.4rem;
    line-height:2.6rem;
    padding-top:0;
    padding-bottom:0;
    
}
