*{outldine:1px solid grey;
box-sizing: border-box;
margin:0;
padding:0;}

.mapTop {
    position:absolute;
    top:2rem;
    left:25rem;
    right:0;
    height:2.2rem;
    color:black;
    padding:0.5rem;
    background-color:#FAFAFA;
    border:1px solid rgba(50,50,50,0.5);
    
}

.linkDown {
    padding:2px;
        color:grey;
    border:1px solid rgba(50,50,50,0.8);
}

.temper {color:black;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
    
}
.aonther{position:absolute;
    right:6rem;
    top:0.15rem;
    font-size:0.9rem;
   }
.aonther li {
    
        font-weight:bold;
    padding:4px;
    float:left;
    border:1px solid rgba(50,50,50,0.8);
    
}

.mapChoice {
    position:absolute;
    top:0.15rem; 
    right:0.5rem;
     border:1px solid rgba(50,50,50,0.5);
}
.mapChoice li{ float:left;
    font-weight:bold;
    padding:4px;
}
.mapChoice li:hover{background-color:#1388E6;
color:white;}

.mapMiddle {
    position: absolute;
    top:4.2rem;
    left:25rem;
    right:0;
    bottom:0;
    z-index:-1;
}

.mapImage {
    width:100%;
    height:100%;
}

.viewChoice li{
    padding:3px;
    background-color:white;
    border:1px solid rgba(50,50,50,0.8);
    
}
.viewChoice{z-index: 2;
    position:absolute;
right:0.5rem;
top:2rem;

color:grey;
font-size:1.5rem;
text-align:center;}

.plain {
    margin-top:0.5rem;
}

.plus {
    margin-top:0.5rem;
    color:black;
    font-size:0.9rem;
}

.min {
    color:black;
    font-size:0.9rem;
}

.zoom {
    height:10rem;
}

.ruler {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.mapfooter{
position:absolute;
    right:0.5rem;
    bottom:0;
    background-color: white;
    border:1px solid rgba(50,50,50,0.8);
    padding:1rem;
}

.sun {
    padding:2px;
    color:yellow;
}
