    * {
        outlisne: 1px solid rgba(50, 50, 50, 0.7);
        box-sizing: border-box;
    }
    
    .topmenu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #019a30;
        height: 2.6rem;
    }
    
    .toplogo li {
        color: white;
        float: left;
        line-height: 2.6rem;
    }
    
    .logo {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 0.4em;
    }
    
    .name {
        font-size: 1.1rem;
        font-weight: light;
    }
    
    .toplogo {
        position: absolute;
        left: 0;
        right: 80%;
    }
    
    .topmiddlemenu {
        position: absolute;
        top: 0;
        left: 20%;
        right: 10%;
        float: left;
        padding: 0;
        margin: 0;
    }
    
    .topmiddlemenu i {
        color: #006D22;
    }
    
    .topmiddlemenu i:hover {
        color: white;
    }
    
    .topmiddlemenu ul {
       position: absolute;
        left:6rem;
    }
    
    .topmiddlemenu li {
        font-size: 1.7rem;
        float: left;
        padding: 0.7rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .bar {
        color: white;
    }
    
    .toplogin {
        position: absolute;
        top: 0;
        right: 0;
        left: 90%;
    }
    
    .toplogin li {
        float: left;
    }
    
    .login {
        color: white;
        font-size: 0.7rem;
        background-color: #268F46;
        padding: 0.2rem;
        line-height: 2.6rem;
    }
    
    .barli {
        font-size:0.4rem;
        padding: 0.4rem;
        line-height: 2.6rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .naverMail {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .topmenu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3rem;
        background-color: #019A30;
    }
    
    .middle {
        position: absolute;
        top: 3rem;
        left: 0;
        right: 0;
        bottom: 2rem;
        border-bottom: 1px solid black;
    }
    
    .leftMenu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 14.5rem;
        border-right: rgba(50, 50, 50, 0.2);
    }
    
    .middlebody {
        position: absolute;
        top: 0;
        left: 14.5rem;
        right: 0;
        bottom: 0;
    }
    
    .bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2rem;
        z-index: 2;
        font-size: 0.7rem;
        border-top: 1px solid black;
    }
    
    .bottom li {
        float: left;
        font-size: 0.7rem;
        color: grey;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    
    .bigbutton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4rem;
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .bigbutton li {
        background-color: #019A30;
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 0.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        border-radius: 4px;
        float: left;
    }
    
    .bigbutton ul {
        margin: 1rem;
    }
    
    .mailoutlook {
        position: absolute;
        top: 4em;
        left: 0;
        right: 0;
        height: 3rem;
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .mailoutlook ul {
        padding: 0.5rem;
        padding-left: 0.3rem;
    }
    
    .mailoutlook li {
        float: left;
        width: 25%;
        text-align: center;
        font-size: 0.7rem;
    }
    
    .mailoutlook li:hover {
        text-decoration: underline;
    }
    
    .mailoutlook span:hover {
        text-decoration: none;
    }
    
    .mailoutlook li {
        float: left;
    }
    
    .useMail {
        position: absolute;
        top: 7rem;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .useMail li {
        font-size: 0.73rem;
        padding: 0.2rem;
        padding-left: 1rem;
    }
    
    .useMail li:hover {
        background-color: #E5E5E5;
    }
    
    .mailSearch {
        position: absolute;
        top: 0rem;
        left: 1rem;
        right: 0;
        height: 3rem;
        color: black;
        font-weight: bold;
        padding-top: 0.65rem;
        padding-left: 0.5rem;
        font-size: 0.73rem;
    }
    
    .maildetailMenu {
        position: absolute;
        top: 3rem;
        left: 0;
        right: 0;
        background-color: #F7F9FA;
        padding: 0.4rem;
        border: 1px solid rgba(50, 50, 50, 0.2);
        border-right: none;
    }
    
    .maildetailMenu li {
        padding: 0.5rem;
        border: 1px solid rgba(50, 50, 50, 0.2);
        background-color: #F0F0F0;
        font-size: 0.73rem;
        color: rgba(50, 50, 50, 0.6);
        padding: 0.2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        border-radius: 1px;
        background-color: #F0F0F0;
        float: left;
        margin: 0.2rem;
    }
    
    .mails {
        position: absolute;
        top: 5.8rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        border-left: rgba(50, 50, 50, 0.2);
    }
    
    .mails li {
        position: relative;
        left: 0;
        right: 0;
    }
    
    .mails li {
        float: left;
        height: 2rem;
    }
    
    .count {
        font-weight: bolder;
        color: #019A30;
        font-size: 0.73rem;
    }
    
    .star {
        color: #019A30;
    }
    
    .mail {
        color: #F3F3F3;
        font-size: 1rem;
        padding-right: 0.4rem;
    }
    
    .trashfolder {
        color: #F3F3F3;
        font-size: 1rem;
        padding-right: 0.5rem;
    }
    
    .folder {
        color: #C2D8ED;
        font-size: 1rem;
        padding-right: 0.4rem;
    }
    
    .rightClick {
        position: absolute;
        right: 1rem;
        margin-top: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        font-size: 0.73rem;
        color: black;
        border-radius: 1.4px;
        border: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .myMailSpan {
        position: absolute;
        top: 8.6rem;
        left: 0;
        right: 0;
        height: 1.6rem;
        border-top: 1px solid rgba(50, 50, 50, 0.2);
        border-bottom: 1px solid rgba(50, 50, 50, 0.2);
        font-size: 0.73rem;
        margin-top: 0.3rem;
    }
    
    .trashMail {
        position: absolute;
        top: 17.8rem;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .trashMail li {
        padding-bottom: 0.2rem;
    }
    
    .myMail {
        position: absolute;
        top: 10.7rem;
        left: 0;
        right: 0;
        padding-bottom: 0.4rem;
    }
    
    .downArrow {
        font-size: 1rem;
        padding: 0.4rem;
        padding-left: 0.8rem;
    }
    
    .myMailSet {
        position: absolute;
        right: 0rem;
        width: 2rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        border-left: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .myMailPlus {
        position: absolute;
        right: 2rem;
        width: 2rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        border-left: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .number {
        color: #019A30;
        padding: 0.4rem;
        font-weight: bold;
        font-size: 0.4rem;
    }
    
    .rightClicktwo {
        position: absolute;
        right: 1rem;
    }
    
    .search li {
        float: left;
        font-size: 0.8rem;
        color: grey;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-weight: lighter;
        border: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .leftWide {
        position: absolute;
        left: -1rem;
        top: 0;
        height: 4rem;
        line-height: 3.6rem;
        width: 1rem;
        text-align: center;
        border-right: 1px solid rgba(50, 50, 50, 0.2);
        border-left: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .searchHere {
        width: 13rem;
    }
    
    .fa-search {
        font-size: 1.1rem;
    }
    
    .detial {
        font-size: 0.8rem;
        font-weight: lighter;
        padding-left: 0.5rem;
    }
    
    .nonReadMail {
        color: #019A30;
    }
    
    .commercial {
        position: absolute;
        right: 1rem;
        font-size: 0.7rem;
        font-weight: lighter;
        color: black;
    }
    
    .repeat {
        color: grey;
        border: 1px solid rgba(50, 50, 50, 0.2);
        padding: 0.3rem;
        padding-top: 0rem;
        padding-bottom: 0.1rem;
        border-radius: 1px;
    }
    
    .space {
        padding-left: 1rem;
        color: grey;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .mailTopAlign {
        display: block;
    }
    
    .fa-times {
        color: red;
        font-weight: lighter;
        padding-right: 0.1rem;
    }
    
    .clickButton {
        font-size: 2rem;
        background-color: white;
    }
    
    .bold {
        font-weight: bold;
        color: rgba(50, 50, 50, 0.8);
    }
    
    .nonClick {
        font-size: 0.8rem;
        padding: 1rem;
    }
    
    .filter {
        color: black;
        font-size: 0.8rem;
    }
    
    .twodown {
        color: black;
        padding-left: 0.2rem;
    }
    
    .fa-caret-down {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
    
    .clock {}
    
    .fa-clock-o {
        color: #019a30;
        padding: 0.3rem;
        border-radius: 1px;
        border: 1px solid rgba(50, 50, 50, 0.2);
        background-color: white;
    }
    
    .fa-bars {
        color: #019a30;
        padding: 0.3rem;
        border-radius: 1px;
        border: 1px solid rgba(50, 50, 50, 0.3);
        background-color: white;
    }
    
    .clockBar {
        position: absolute;
        right: 1rem;
    }
    
    .fa-star {
        color: #019A30;
        font-size: 1rem;
    }
    
    .fa-paperclip {
        font-size: 1rem;
    }
    
    .fa-check-square {
        font-size: 1rem;
    }
    
    .mailsBody li {
        float: left;
        font-size: 0.8rem;
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .from {
        width: 15%;
        text-align: center;
    }
    
    .mailsUl {
        width: 100%;
    }
    
    .size {
        position: absolute;
        right: 1rem;
    }
    
    .text {
        width: 51%;
    }
    
    .fa-envelope {
        font-size: 1rem;
    }
    
    .mailsBottom {
        position: fixed;
        left: 14.5rem;
        right: 0;
        bottom: 2rem;
        background-color: white;
        padding: 0.3rem;
        border: 1px solid rgba(50, 50, 50, 0.2);
    }
    
    .mailsBottom li:hover {
        text-decoration: underline;
    }
    
    .mailsBottom ul {
        position: relative;
        left: 35%;
    }
    
    .mailsBottom li {
        float: left;
        padding: 0.5rem;
        color: black;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .fa-angle-double-left {
        border: 1px solid rgba(50, 50, 50, 0.2);
        width: 1.2rem;
        text-align: center;
        border-radius: 2px;
        padding: 0.2rem;
    }
    
    .fa-angle-left {
        border: 1px solid rgba(50, 50, 50, 0.2);
        width: 1.2rem;
        text-align: center;
        border-radius: 2px;
        padding: 0.2rem;
    }
    
    .fa-angle-right {
        border: 1px solid rgba(50, 50, 50, 0.2);
        width: 1.2rem;
        text-align: center;
        border-radius: 2px;
        padding: 0.2rem;
    }
    
    .fa-angle-double-right {
        border: 1px solid rgba(50, 50, 50, 0.2);
        width: 1.2rem;
        text-align: center;
        border-radius: 2px;
        padding: 0.2rem;
    }
    
    .bottomLeft {
        position: absolute;
        left: 1rem;
        padding: 0.5rem;
    }
    
    .bottomRight {
        position: absolute;
        right: 1rem;
        padding: 0.5rem;
        margin: 0;
    }
    
    .maincolor {
        color: #019a30;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    
    .brandName {
        position: relative;
        left: 40%
    }
    
    .fa-square {
        color: #EC4940;
    }
    
    .leftMenubottom {
        position: absolute;
        bottom: -0.04rem;
        height: 2.74rem;
        border-top: 1px solid rgba(50, 50, 50, 0.2);
        font-size: 0.72rem;
        left: 0;
        right: 0;
        padding: 0.55rem;
        z-index: 2;
        background-color:white;
    }
    
    .colorblack {
        color: black;
        font-weight: bold;
    }
    
    .greenenvelop {
        color: #019a30;
        padding: 0.2rem;
        font-size: 1rem;
    }