*{outdline:1px solid rgba(200, 200, 200, 0.8);
padding: 0;
margin: 0;
color:rgba(150, 150, 150, 0.9);
box-sizing:border-box;
font-family: sans-serif;}

li{list-style-type:none;}

$배경색: blue;
h1,
h2 {
    background-color: $배경색;
}

p {
    background-color: $배경색;
}

$좌측너비: 70%;
.left {
    width: $좌측너비;
}

.right {
    height: 100% - $좌측너비;
}

ul {
    color: red;
    li {
        color: black;
    }
}

body {}