* {
    outlsine: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    word-spacing: 0.02rem;
    list-style-type: none;
    font-family: 'Nanum Gothic', sans-serif;
    list-style-type: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.top {
    position: absolute;
    top: 0;
    height: 5rem;
    left: 0;
    right: 0;
    border-bottom: 3px solid #55b327;
}

.logo {
    width: 10rem;
    padding: 1rem;
    padding-left: 0.3rem;
}

.fa-bars {
    font-size: 1.6rem;
    padding-top: 1.5rem;
    position: absolute;
    right: 0.5rem;
}

.topRightSide {
    display: none;
}

.middle {
    list-style-type: none;
    position: absolute;
    top: 5rem;
    width: 100%;
}

.bottom {
    position: absolute;
    top:120rem;
    
    padding-top:1rem;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    
    font-size: 0.78rem;
    line-height: 1.2rem;
    
    color: rgb(100, 100, 100);
}

.letterSpace {
   text-align: center;
    border-top: 1.8px solid #55b327;
    padding-top:1rem;
}

.picture {
    width: 320px;
}

.middleTop {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.middleMiddle {
    list-style-type: none;
    position: absolute;
    top: 10rem;
    left: 0rem;
    right: 0;
    padding-left: 1rem;
}

.studyName {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1rem;
}

.studyName li {
    list-style-type: none;
    width: 40%;
    margin:0 auto;
    height: 9rem;
    padding-bottom: 2rem;
    text-align: center;
}

.emoticon {
    background-color: #55b327;
    display: block;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
}

.emoticon:hover {
    background-color: white;
    color: #55b327;
    font-size: 2.5rem;
    line-height: 5rem;
}

.studybigName {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
}


/*--------------일단 없애고 봄---------------------*/

.enrollment {
    position: absolute;
    top: 54rem;
    left: 0;
    right: 0;
    background-color:#B3C905;
    height:25rem;
}

.middleFootLeft {
    display: none;
}

.newsBody {
    display: none;
}

.studyNameTag {
    position: relative;
    height: 3rem;
    line-height: 3rem;
}

.fa-circle {
    color: rgba(200, 200, 200, 0.8);
}

.middleClickDot li i:hover {
    color: grey;
}

.middleClickDot {
    position: absolute;
    top: 10rem;
    width: 6rem;
    left: 35vw;
    right: 35vw;
    font-size: 0.8rem;
}

.middleClickDot li {
    float: left;
    width: 20%;
    text-align: center;
}

.middleClickMenu {
    display: none;
}

.fastClick {
    position: absolute;
    top:7.5rem;
    left: 12vw;
    right: 12vw;
    
}

.fastClick li {
    height: 3rem;
    line-height: 3rem;
    text-align:center;
    margin-bottom:0.7rem;
    background-color:white;
}

.contact {
   position: relative;
    bottom:0;
    text-align:center;    
    line-height:1.5rem;
    color:black;
    padding-bottom:1rem;
     
    
}

.greenPoint {
    display:none;
}

.bottomPic {position: absolute;
    top:-2.5rem;
    width:320px;
    margin: 0 auto;
    text-align:center;
    
}

.contactNumber {
    
    font-size:1.8rem;
    line-height: 3rem;
    
}

.telephone {
    font-weight: bold;
    color:#89653B;
}

.fax {
    font-weight: bold;
    color:#B3C905;
}

.adress {
    display: none;
}
