* {
    outㄴline: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    word-spacing: 0.02rem;
    list-style-type: none;
    font-family: 'Nanum Gothic', sans-serif;
}

@media screen and (min-width: 769px) {
    body {
        background-color: rgba(0, 255, 0, 0.1);
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: rgba(0, 255, 0, 0.1);
    }
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


/*====================================================================*/

.top {
    position: absolute;
    top: 0;
    height: 5rem;
    left: 0;
    right: 0;
    border-bottom: 3px solid #55b327;
}

.topBody {
    position: absolute;
    top: 0;
    left: 5vw;
    right: 5vw;
}

.middle {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
}

.middleTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.middleTop li {
    position: absolute;
    left: 0;
    right: 0;
}

.middleMiddle {
    position: absolute;
    top: 58vw;
    height: 43.5rem;
    left: 0;
    right: 0;
}

.bottom {
    position: absolute;
    height: 9rem;
    top: 260vw;
    left: 0;
    right: 0;
    border-top: 1.8px solid #55b327;
    font-size: 0.78rem;
    line-height: 1.2rem;
    padding-top: 0.5rem;
    color: rgb(100, 100, 100);
    padding-left: 1rem;
}


}
.logo {
    width: 400px;
    padding: 1rem;
    padding-left: 0.5rem;
}
.fa-bars {
    display: none;
}
.fa-search {
    font-size: 1.3rem;
    padding-top: 2rem;
    position: absolute;
    right: 5%;
    font-weight: lighter;
}
.loginMenu {
    display: none;
}
.topMenu {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    font-size: 0.9rem;
    font-weight: bold;
}
.topMenu li {
    float: left;
    padding-left: 1rem;
    width: 20%;
}
.colorPoint {
    background-color: #55b327;
    color: white;
    font-size: 0.85rem;
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.point {
    color: white;
}
a .point:link {
    color: white !important;
}
.input_text {
    position: absolute;
    right: 0;
}
.firstPic {
    position: absolute;
}
.picture {
    width: 100%;
}
.link {
    position: absolute;
    bottom: 1rem;
    width: 18rem;
    right: 2rem;
}
.text {
    position: absolute;
    top: 0;
}
.middleClickMenu {
    display: none;
}
.middleClickMenu li {
    float: left;
    width: 20%;
    height: 1.7rem;
    line-height: 0.5rem;
    font-size: 0.9rem;
    color: white;
    background-color: #55b327;
}
.middleMenuNumber {
    background-color: #418713;
    color: white;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: inline-block;
    height: 1.7rem;
    line-height: 1.7rem;
}
.newsBody {
    position: absolute;
    width: 24vw;
    right: 0;
    top: 0;
    height: 16.5rem;
    overflow: hidden;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}
.newsName {
    position: absolute;
    top: 0;
    height: 2.5rem;
    width: 24vw;
    left: 0;
}
.newsName li {
    float: left;
    height: inherit;
    width: 33.333333333333333333333333333333333333%;
    line-height: 2.5rem;
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
    border-left: 1px solid rgba(200, 200, 200, 0.8);
    border-top: 1px solid rgba(200, 200, 200, 0.8);
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
}
.newsName li:hover {
    background-color: rgb(120, 120, 120);
    color: white;
}
.texts {
    position: absolute;
    top: 2.5rem;
    width: inherit;
    padding-top: 0.5rem;
    border-left: 1px solid rgba(200, 200, 200, 0.8);
    border-right: 1px solid rgba(200, 200, 200, 0.8);
}
.texts li {
    height: 1.9rem;
    font-size: 0.8rem;
    padding-left: 10px;
    line-height: 1.9rem;
    width: 290px;
    text-overflow: ellipsis;
}
.study {
    position: absolute;
    top: 200vw;
    left: 5vw;
    right: 5vw;
    height: 10.5rem;
}
.emoticon {
    background-color: #55b327;
    display: block;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem auto;
}
.emoticon:hover {
    background-color: white;
    border: 3px solid rgba(85, 179, 39, 1);
    color: #55b327;
    font-size: 2.5rem;
    line-height: 4.5rem;
}
.studyName li {
    float: left;
    width: 20%;
    height: 12.5rem;
}
.firstBigName {
    position: absolute;
    top: -2.5rem;
    left: 0;
    height: 2.5rem;
    width: 100%;
    font-weight: bold;
    line-height: 2.5rem;
    /*    border-bottom: 2.7px solid rgba(255, 236, 17, 0.75);*/
}
.studyName {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    height: 12.5rem;
}
.studyNameTag {
    height: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}
.finish {
    border-right: 1px solid rgba(200, 200, 200, 0.8);
}
.select {
    color: white !important;
    background-color: rgb(120, 120, 120);
}
.greenPoint {
    color: #336a0f;
    font-weight: bold;
}
.letterSpace {
    word-spacing: 0.1rem;
}
.studyPicture {
    display: none;
}
.dochoPicture {
    display: none;
}
.realStudyPic {
    width: 100%;
    position: absolute;
    top: 0;
    border: 1px solid rgba(200, 200, 200, 0.8);
}
.middleFoot {
    position: absolute;
    top: 135vw;
    left: 0;
    right: 0;
}
.studybigName {
    position: relative;
    height: 1.2rem;
    top: 0;
    left: 0;
    font-weight: bold;
}
.enrollment {
    position: absolute;
    top: 200vw;
    left: 0;
    right: 0;
    background-color: rgba(179, 201, 5, 0.8);
    height: 12rem;
}
.newsBody {
    display: none;
}
.fa-circle {
    color: rgba(200, 200, 200, 0.8);
}
.middleClickDot li i:hover {
    color: grey;
}
.middleClickDot {
    display: block;
    position: relative;
    top: 47vw;
    left: 0;
    right: 0;
    width: 6rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin: 0 auto;
}
.middleClickDot li {
    margin: 0 auto;
    float: left;
    width: 20%;
    text-align: center;
}
.fastClick {
    position: absolute;
    top: 3.5rem;
    left: 6vw;
    right: 6vw;
}
.fastClick li {
    float: left;
    width: 22%;
    margin: 1.5%;
    height: 5rem;
    font-size: 0.94rem;
    line-height: 5rem;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.fastClick li:hover {
    font-weight: bold;
    color: #3a7820;
}
.fa-pencil {
    color: #55b327;
}
.fa-paper-plane-o {
    color: #55b327;
}
.bigName {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
}
.secondBigName {
    /*    border-bottom: 2.7px solid rgba(226, 160, 188, 0.8);*/
    
    width: 98%;
    position: absolute;
    top: -2.5rem;
    left: 0;
    height: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
}
.circle {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: pink;
    border-radius: 50%;
}
.middleFootBottom {
    position: absolute;
    top: 36rem;
    left: 0;
    right: 0;
    height: 20rem;
}
.fa-chevron-circle-right {
    color: #c3d620;
    position: absolute;
    right: 0.7rem;
    line-height: 0.8rem;
    font-size: 1rem !important;
}
.textEX {
    position: absolute;
    bottom: 0.9rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    font-weight: bold;
    width: 100%;
}
.textslid {
    padding-left: 0.3rem;
    font-weight: normal;
    color: dimgrey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.campain {
    margin-bottom: 2.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

/* -----------------------------------getLidOf------------------------------------------------*/
.bottomPic {
    display: none;
}

/*}*/
.search {
    display: none;
    padding: 0;
}
#inputGoogle {
    display: none;
}
.topRightSide {
    position: absolute;
    left: 30vw;
    right: 0;
    top: 0;
    bottom: 0;
}
.sevenRP {
    padding-left: 1rem;
    width: 470px;
}
.sevenr {
    position: absolute;
    top: 80vw;
    left: 5vw;
    right: 5vw;
}
.enrollbigName {
    position: absolute;
    top: 1rem;
    left: 5vw;
    padding-left: 1rem;
    color: #0B4F2B;
    font-weight: bold;
}
.looking {
    background-color: rgba(153, 212, 230, 0.9);
    color: #1e7ebc;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding: 0.5rem;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.9rem;
    position: absolute;
    top: 7.8rem;
    right: 5vw;
}
.forBr {
    display: none;
}
.find {
    position: absolute;
    left: 5vw;
    right: 5vw;
}
.thislogo {
    width: 12rem;
    padding-top: 0.7rem;
}
.business {
    position: absolute;
    top: 50vw;
    left: 0;
    right: 0;
}
.businessUl li {
    float: left;
    width: 33.33333333333333333333333333333333333333333%;
    height: 100%;
    text-align: center;
    padding: 0.1rem;
}
.businessUl {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
}
.businessUl img {
    width: 100%;
    padding: 0.1rem;
}
.boxDown {
    height: 1.5rem;
    text-align: center;
    position: relative;
    line-height: 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}
.fa-fax {
    color: #55b327;
}
.fa-phone {
    color: #55b327;
}
.sitesLink {
    display: none;
}
.pen {
    color: #0B4F2B !important;
}
.introduce {
    position: absolute;
    right: 0;
    left: 50vw;
    top: 0;
    text-align: center;
    font-size: 0.9rem;
    /*    background-color: #e0e565;*/
    
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}
.align {
    margin: 0;
    text-align: left !important;
    padding-left: 5rem;
    line-height: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
}
.name {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.philosophy {
    position: absolute;
    top: 0;
    left: 5vw;
    right: 50vw;
    height: 12rem;
}
.businessbigName {
    position: relative;
    height: 1.2rem;
    top: 0;
    left: 5vw;
    font-weight: bold;
    margin-bottom: 2rem;
}
.facility {
    /*    border:1px solid red;*/
    
    position: absolute;
    left: 0;
    right: 0;
    top: 108vw;
    height: 15rem;
}
.facilityUl li {
    /*    border:1px solid red;*/
    
    float: left;
    width: 50%;
    height: inherit;
    text-align: center;
}
.facilityUl img {
   height:100%;
/*
    border-radius: 10px;
    margin-top: 7%;
    margin-bottom: 5%;
*/
}
.facilityUl {
    /*    border:1px solid red;*/
    
    height: inherit;
   
}
.facilIn {
    font-size: 0.9rem;
    margin: auto 0;
    /*    border:1px solid red;*/
    
    height: inherit;
}
.facilIn li {
    float: none !important;
    font-size: 0.9rem;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 0.8rem auto;
    width: 12rem !important;
    height: 2rem !important;
    line-height: 2rem;
}
.forColor {
     background-color: rgba(179, 201, 5, 0.8);
   
}
