* {
    ouㅗtline: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    word-spacing: 0.02rem;
    list-style-type: none;
    font-family: 'Nanum Gothic', sans-serif;
    list-style-type: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.top {
    position: absolute;
    top: 0;
    height: 5rem;
    left: 0;
    right: 0;
    border-bottom: 3px solid #55b327;
}

.logo {
    width: 10rem;
    padding: 1rem;
    padding-left: 0.3rem;
}

.fa-bars {
    font-size: 1.6rem;
    padding-top: 1.5rem;
    position: absolute;
    right: 5%;
}

.topRightSide {
    display: none;
}

.middle {
    list-style-type: none;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bottom {
    position: absolute;
    top: 170rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    font-size: 0.7rem;
    line-height: 1.2rem;
    color: rgb(100, 100, 100);
}

.letterSpace {
    text-align: center;
    margin-top: 1.5rem;
    border-top: 2px solid #55b327;
    padding-top: 1rem;
}

.picture {
    width: 100%;
}

.middleTop {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.middleMiddle {
    list-style-type: none;
    position: absolute;
    top: 11rem;
    left: 0rem;
    right: 0;
    padding-left: 1rem;
}

.studyName {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1rem;
}

.studyName li {
    list-style-type: none;
    width: 40%;
    margin: 0 auto;
    height: 9rem;
    padding-bottom: 2rem;
    text-align: center;
}

.emoticon {
    background-color: #55b327;
    display: block;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
}

.emoticon:hover {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 3rem;
    line-height: 5.6rem;
}

.studybigName {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600%;
}


/*--------------일단 없애고 봄---------------------*/

.enrollment {
    position: absolute;
    top: 53rem;
    left: 0;
    right: 0;
    background-color: #B3C905;
    height: 25rem;
}

.middleFootLeft {
    display: none;
}

.newsBody {
    display: none;
}

.studyNameTag {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.9rem;
}

.fa-circle {
    color: rgba(200, 200, 200, 0.8);
}

.middleClickDot li i:hover {
    color: grey;
}

.middleClickDot {
    display: block;
    position: absolute;
    top: 10.5rem;
    left: 0;
    right: 0;
    width: 6rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin: 0 auto;
}

.middleClickDot li {
    margin: 0 auto;
    float: left;
    width: 20%;
    text-align: center;
}

.middleClickMenu {
    display: none;
}

.fastClick {
    position: absolute;
    top: 7rem;
    left: 12vw;
    right: 12vw;
}

.fastClick li {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 0.7rem;
    background-color: white;
    border-radius: 5px;
}

.fastClick li:hover {
    font-weight: bold;
}

.contact {
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 1.5rem;
    color: black;
    padding-bottom: 1rem;
}

.greenPoint {
    display: none;
}

.bottomPic {
    position: absolute;
    top: -2.5rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contactNumber {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: bold;
}

.telephone {
    font-weight: bold;
    color: #89653B;
}

.fax {
    font-weight: bold;
    color: #B3C905;
}

.adress {
    display: none;
}

.sevenr {
    position: absolute;
    top: 79rem;
    left: 5vw;
    right: 5vw;
}

#imsvg {
    width: 800px;
}

.sevenRP {
    position: absolute;
    width: 100%;
    
    top:2rem;
}

.campain {
    display: none;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.thislogo {
    width: 10rem;
    padding-top: 0.7rem;
    padding-left: 0.7rem;
}

.sitesLink {
    display: none;
}

.enrollbigName {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600%;
}

.business {
    position: absolute;
    top: 85rem;
    left: 0;
    right: 0;
}

.businessUl {
    position: absolute;
    left: 2vw;
    right: 2vw;
}

.businessUl img {
    width: 100%;
}

.businessUl li {
    padding-bottom: 2rem;
}

.boxDown {
    text-align: center;
    position: relative;
    line-height: 1.5rem;
    font-weight:bold;
    font-size:0.9rem;
}




.jump {
    display: none;
}
.boxFoot {height:4rem;}
.looking {
    display: none;
}
