<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="default.css">
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
       
    </style>
    <title>전라남도 섬 생태연구소</title>
</head>

<body>
    <div class="top">
        <div class="topBody">
            <div class="topLeftLogo"><img class="logo" src="https://66.media.tumblr.com/8edfbe4b882360b34078d30157743d75/tumblr_obvpdvAHmE1urebxho1_540.jpg" alt="logo"></div>
            <div class="topRightSide">
                <ul class="loginMenu">
                    <li><a href="http://www.naver.com">로그인</a></li>
                    <li><a href="http://www.naver.com">회원가입</a></li>
                    <li><a href="http://www.naver.com">CONTACT US</a></li>
                    <li><a href="http://www.naver.com">사이트맵</a></li>
                </ul>
                <ul class="topMenu">
                    <li><a href="http://www.naver.com">소개</a></li>
                    <li><a href="http://www.naver.com">활동</a></li>
                    <li><a href="http://www.naver.com">교육시설</a></li>
                    <li><span class="colorPoint"> 교육신청 </span></li>
                    <li>참여하기</li>
                    <li class="search">
                        <input type="text" name="q" value="" class="input_text" id="inputGoogle"><a href="http://www.naver.com"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <ul class="middleTop">
            <li class="firstPic"> <img class="picture" src="https://66.media.tumblr.com/61b0e002c8941d5971b35f1f078f81d9/tumblr_oc01xi7mBF1urebxho1_540.jpg" alt="연구소사진">
                <!--                <a href="http://www.naver.com"><img class="link" src="https://66.media.tumblr.com/b61f8c1c625e39a59a239a74313bc1a4/tumblr_oby1piYT2A1urebxho1_500.png" alt="링크걸기"></a>-->
            </li>
            <!--

            <li>
                <div class="picture"></div> <span class="link"></span> </li>
            <li>
                <div class="picture"></div> <span class="link"></span> </li>
            <li>
                <div class="picture"></div> <span class="link"></span> </li>
            <li>
                <div class="picture"></div> <span class="link"></span> </li>
-->
        </ul>
        <ul class="middleClickMenu">
            <li><span class="middleMenuNumber">01</span>&nbsp;&nbsp;여름생태교육</li>
            <li><span class="middleMenuNumber">02</span>&nbsp;&nbsp;도초 생태박물관</li>
            <li><span class="middleMenuNumber">03</span>&nbsp;&nbsp;섬생태연구소 교육장</li>
            <li><span class="middleMenuNumber">04</span>&nbsp;&nbsp;다도교실</li>
            <li><span class="middleMenuNumber">05</span>&nbsp;&nbsp;생태교구</li>
        </ul>
        <div class="middleBottom">
            <div class="newsBody">
                <ul class="newsName">
                    <li class="select">공지</li>
                    <li>언론 보도</li>
                    <li class="finish">도초 환경</li>
                </ul>
                <ul class="texts">
                    <li>블라블라블라블라</li>
                    <li>블라블바블라블라</li>
                    <li>블라블라블라블라</li>
                    <li>블라블라블라블라</li>
                    <li>블라블라</li>
                    <li>블라블바</li>
                    <li>블라블라</li>
                    <li>블라블라</li>
                    <li>블라블라</li>
                    <li>블라블바</li>
                    <li>블라블라</li>
                    <li>블라블라</li>
                </ul>
            </div>
            <div class="study">
                <div class="bigName">교육신청 바로가기</div>
                <ul class="studyName">
                    <li><span class="emoticon"><i class="fa fa-bug" aria-hidden="true"></i></span>
                        <div class="studyNameTag">섬생태체험교육</div>
                    </li>
                    <li><span class="emoticon"><i class="fa fa-book" aria-hidden="true"></i></span>
                        <div class="studyNameTag">섬생태아카데미</div>
                    </li>
                    <li><span class="emoticon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                        <div class="studyNameTag">섬생태전문가과정</div>
                    </li>
                    <li><span class="emoticon"><i class="fa fa-tree" aria-hidden="true"></i></span>
                        <div class="studyNameTag">생태체험캠프</div>
                    </li>
                    <li><span class="emoticon"><i class="fa fa-leaf" aria-hidden="true"></i></span>
                        <div class="studyNameTag">전통문화체험</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="greenPoint">섬생태연구소 </span>
        <br>전라남도 신안군 도초면 도초동부길 198 구)도초동초등학교
        <br>T.061-261-5300 &nbsp;F.061-261-5300
        <div class="letterSpace"><span class="greenPoint">개인정보 처리방침</span> | 이용약관 | 영상정보처리기기 | 운영 및 관리방침 | SITE MAP | Contact Us
            <br>사단법인 섬생태연구소 사업자등록번호: 102-82-07606 &nbsp;COPYRIGHT 섬생태연구소 ALL RIGHT RESERVED.</div>

    </div>
</body>

</html>